<p id="notice"><%= notice %></p>

<h1>Teaching Ideas</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teaching_ideas.each do |teaching_idea| %>
      <tr>
        <td><%= teaching_idea.title %></td>
        <td><%= teaching_idea.content %></td>
        <td><%= link_to 'Show', teaching_idea %></td>
        <%if current_user? %>
        <td><%= link_to 'Edit', edit_teaching_idea_path(teaching_idea) %></td>
        <td><%= link_to 'Destroy', teaching_idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Share your fucking idea', new_teaching_idea_path %>
<% end %>